bcrypt==3.2.0
cffi==1.14.6
click==8.0.1
colorama==0.4.4
dnspython==1.16.0
Flask==2.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-PyMongo==2.3.0
Flask-Script==2.0.6
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
pycparser==2.20
pymongo==3.12.0
six==1.16.0
Werkzeug==2.0.2
pillow
gunicorn
flask-wtf
email-validator