body {
  background: #212529;
  color: #76bbcc;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* kkkkk */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type: none;
  padding: 0;

  -moz-user-select: none;
  -webkit-user-select: none;
}

.rating-stars ul > li.star {
  display: inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size: 2.5em;
  /* Change the size of the stars */
  color: #ccc;
  /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star:hover > i.fa {
  transform: rotate(-15deg) scale(1.3);
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color: #fd4;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected.first > i.fa {
  color: #f62;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected-all > i.fa {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

/* faisal */

.carousel-indicators .active {
  background-color: #46eeaa;
}

.carousel-indicators li {
  background-color: #c8e5ff;
}

.carousel-indicators {
  bottom: -50px;
}

div.c-item > a:-webkit-any-link {
  text-decoration: none !important;
}

div.c-item > a > div.img-view {
  width: 92%;
}

div.c-item > a > div.img-view > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-shadow: 0px 0px 8px 0px white;
  border-radius: 10px;
  margin-top: 8px;
}

div.c-item > a > div.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
}

div.c-item > a > div.content > div.content-column {
  color: white;
}

div.c-item > a > div.content > div.content-column > div.d-flex {
  margin-top: 8px;
}

div.c-item > a > div.content > div.content-column > form > button {
  width: 100%;
  height: 30px;
  color: white;
  padding: 0px 10px !important;
  border: none;
  border-radius: 30px;
  background-color: rgb(184, 31, 31);
}

div.c-item > a > div.content > div.content-column > form > button:focus {
  outline: none;
}

div.c-item > a > div.content > div.content-column > div.w-100 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 125px;
}
